@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

header{

	background-color: #d3d3d3;
	min-height: 200px;
	padding-left: 3%;
	padding-top: 0.5%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
}

p{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#explanation{
	background-color: #DA70D6;
	padding: 2%;
}

#explanation2{
	background-color: #ADD8E6;
	padding: 2%;
}

#explanation3{
	background-color: #00FF7F;
	padding: 2%;
}